%main-header {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7rem;
    color: rgba(0, 148, 95, 1);
    font-weight: 100;
}

%line {
    width: 5rem; 
    border: 1.5px rgba(0, 148, 95, 1) solid;
    margin: 1rem auto 1rem auto;
}